<footer class="bg-dark text-white mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Laboratório de Bioinformática e Sistemas (LBS)</h5>
                <ul class="list-unstyled">
                    <li>Universidade Federal de Minas Gerais
                        Av. Pres. Antônio Carlos, 6627 - Pampulha, Belo Horizonte - MG, 31270-901</li>
                    <li>Instituto de Ciências Exatas (ICEx), Departamento de Ciência da Computação (DCC)</li>
                    <li>Anexo U, 4º andar, Sala: 4340 | Telefone +55 31 3409-5896</li>
                </ul>
                <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a img src="/public/images/p4.png"a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/search">Search</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/clusters">Clusters</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/download">Download</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
              