<!-- views/partials/header.ejs -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #28a745; padding: 15px 5%;">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="/">
                <img src="/images/logo_propedia.svg" alt="Logo" style="height: 50px;">
            </a>

    <!-- Botão para mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links do menu (colapsáveis) -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/explore">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clusters">Clusters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/download">Download</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
